.swiper-feedback {
  position: relative;
  display: flex;
  flex-direction: column;
}

.swiper-feedback .swiper-pagination {
  /* position: absolute; */
  bottom: 20px !important;
  /* z-index: 999; */
}
.swiper-feedback .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 1px 2px #000000;
}

.swiper-feedback .swiper-pagination-bullet-active {
  box-shadow: 0px 0px 2px 1px #000000;
  background-color: #565758;
}
