.swiper-slides {
  width: 100%;
  height: 100%;
  padding-left: 0 !important;
  position: relative;
}

.swiper-slides .swiper-pagination {
  bottom: 100px;
}
.swiper-slides .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-slides .swiper-pagination-bullet-active {
  background-color: #ffffff !important;
  height: 12px !important;
  width: 12px !important;
  box-shadow: none;
}
